<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
    <package name="cn.qxhua21.words.po"/>
</typeAliases>
    <mappers>
        <mapper resource="cn\qxhua21\words\mapper\UserMapper.xml"/>
        <mapper resource="cn\qxhua21\words\mapper\MineWordMapper.xml"/>
    </mappers>
</configuration>